<header class="header">
  <div class="header-logo-wrapper">
    <div class="header-logo-image">
      <a href="https://www.evoko.se" title="Evoko website">
        {{!-- full logo for desktop --}}
        <svg class="evoko-logo-full" viewBox="0 0 402.4 103.97" height="30px" width="116.11px" version="1.1">
          <defs>
            <style>
              .evoko-logo-b,
              .evoko-logo-c {
                stroke-width: 3px;
              }
            </style>
          </defs>
          <path class="evoko-logo-a"
            d="M219.11,352.61l-24,75.78q-.75,2.46-2.37,2.46c-1.05,0-1.84-.84-2.38-2.52l-28.6-90.55H109.33a12.4,12.4,0,0,0-8.76,3.13,11,11,0,0,0-3.37,8.46h-.07v74.4a10.82,10.82,0,0,0,3.54,8.31,12.32,12.32,0,0,0,8.66,3.27h47.94v-5.58H108.72q-5.52-.82-5.52-5.94V389.16h39.1v-5.39H103.2V349.3q0-5.12,5.52-5.93h48.65l26.84,84.56q2.86,9,8.52,9t8.65-9l23.88-75.32Z"
            transform="translate(-95.63 -334.45)" />
          <path class="evoko-logo-b"
            d="M219.11,352.61l-24,75.78q-.75,2.46-2.37,2.46c-1.05,0-1.84-.84-2.38-2.52l-28.6-90.55H109.33a12.4,12.4,0,0,0-8.76,3.13,11,11,0,0,0-3.37,8.46h-.07v74.4a10.82,10.82,0,0,0,3.54,8.31,12.32,12.32,0,0,0,8.66,3.27h47.94v-5.58H108.72q-5.52-.82-5.52-5.94V389.16h39.1v-5.39H103.2V349.3q0-5.12,5.52-5.93h48.65l26.84,84.56q2.86,9,8.52,9t8.65-9l23.88-75.32Z"
            transform="translate(-95.63 -334.45)" />
          <path class="evoko-logo-c"
            d="M326.45,386.33q0,24.53-12.95,37a46.38,46.38,0,0,1-33.25,13.56q-21.25,0-35.29-14.72-11.11-11.66-11.11-35.84t11.25-35.84Q259,336,280.25,336q21.06,0,35.09,14.71Q326.44,362.35,326.45,386.33Zm-6.41-.14q0-21.72-9.06-31.54-12.12-13.09-30.73-13.09-18.79,0-30.86,13-9.13,9.81-9.13,31.61t9.13,31.69Q261.51,431,280.25,431T311,417.81Q320,407.93,320,386.19Z"
            transform="translate(-95.63 -334.45)" />
          <path class="evoko-logo-c"
            d="M496.53,386.3q0,24.54-12.95,37a46.38,46.38,0,0,1-33.25,13.56q-21.25,0-35.29-14.71-11.1-11.65-11.1-35.85t11.24-35.84Q429.07,336,450.33,336q21.06,0,35.09,14.72Q496.54,362.33,496.53,386.3Zm-6.4-.13q0-21.74-9.07-31.55-12.12-13.08-30.73-13.08-18.79,0-30.86,13-9.14,9.81-9.13,31.61t9.13,31.68Q431.59,431,450.33,431t30.73-13.22Q490.12,407.91,490.13,386.17Z"
            transform="translate(-95.63 -334.45)" />
          <path class="evoko-logo-a"
            d="M368.43,384.45a10.87,10.87,0,0,0-6.27-4.32l1.87-1.8,26.81-25.73h-9l-33.19,31.92V337.65h-6.06v97.63h6.06V393.05l6.89-6.57c2.5-2,5.95-1.24,8,1.51l34.73,47.33h7.63Z"
            transform="translate(-95.63 -334.45)" />
          <path class="evoko-logo-b"
            d="M368.43,384.45a10.87,10.87,0,0,0-6.27-4.32l1.87-1.8,26.81-25.73h-9l-33.19,31.92V337.65h-6.06v97.63h6.06V393.05l6.89-6.57c2.5-2,5.95-1.24,8,1.51l34.73,47.33h7.63Z"
            transform="translate(-95.63 -334.45)" />
        </svg>
        {{!-- favicon for mobile --}}
        <svg class="evoko-logo-fav" viewBox="0 0 131.68 102.15" height="30px" width="38.67px" version="1.1">
          <defs>
            <style>
              .logo-b {
                fill: none;
                stroke-width: 3px;
              }
            </style>
          </defs>
          <path class="logo-a"
            d="M219.11,352.61l-24,75.78q-.75,2.46-2.37,2.46c-1.05,0-1.84-.84-2.38-2.52l-28.6-90.55H109.33a12.4,12.4,0,0,0-8.76,3.13,11,11,0,0,0-3.37,8.46h-.07v74.4a10.82,10.82,0,0,0,3.54,8.31,12.32,12.32,0,0,0,8.66,3.27h47.94v-5.58H108.72q-5.52-.82-5.52-5.94V389.16h39.1v-5.39H103.2V349.3q0-5.12,5.52-5.93h48.65l26.84,84.56q2.86,9,8.52,9t8.65-9l23.88-75.32Z"
            transform="translate(-95.63 -334.45)" />
          <path class="logo-b"
            d="M219.11,352.61l-24,75.78q-.75,2.46-2.37,2.46c-1.05,0-1.84-.84-2.38-2.52l-28.6-90.55H109.33a12.4,12.4,0,0,0-8.76,3.13,11,11,0,0,0-3.37,8.46h-.07v74.4a10.82,10.82,0,0,0,3.54,8.31,12.32,12.32,0,0,0,8.66,3.27h47.94v-5.58H108.72q-5.52-.82-5.52-5.94V389.16h39.1v-5.39H103.2V349.3q0-5.12,5.52-5.93h48.65l26.84,84.56q2.86,9,8.52,9t8.65-9l23.88-75.32Z"
            transform="translate(-95.63 -334.45)" />
        </svg>
      </a>
    </div>
    <div class="header-logo-title">
      <a href="/hc/en-us" title="Evoko support">support</a>
    </div>
  </div>
  <div class="header-search">
    {{search instant=true scoped=settings.scoped_kb_search submit=false class="search search-header" placeholder="Search..."}}
  </div>
  <div class="nav-wrapper">
    <span class="icon-menu" tabindex="0" role="button" aria-controls="user-nav" aria-expanded="false"
      aria-label="{{t 'toggle_navigation'}}"></span>
    <nav class="user-nav" id="user-nav">
      {{link 'community' class='community-link'}}
      {{link 'new_request' class='submit-a-request'}}
    </nav>
    {{user_info}}
  </div>
</header>