<header class="header">
  <div class="header-logo-wrapper">
    <div class="header-logo-image">
      <a href="https://www.evoko.se" title="Back to main site">
        <img src="{{settings.logo}}" alt="">
      </a>
    </div>
    <div class="header-logo-title">
      {{#link 'help_center' }}Support{{/link}}
    </div>
  </div>
  <div class="header-search">
    {{search scoped=settings.scoped_kb_search submit=false}}
  </div>
  <div class="nav-wrapper">
    <span class="icon-menu" tabindex="0" role="button" aria-controls="user-nav" aria-expanded="false"
      aria-label="{{t 'toggle_navigation'}}"></span>
    <nav class="user-nav" id="user-nav">
      {{link 'community' class='community-link'}}
      {{link 'new_request' class='submit-a-request'}}
    </nav>
    {{user_info}}
  </div>
</header>