{{!-- Hide header background on the home page --}}
<style>
  .header {
    background-color: transparent;
    box-shadow: none;
  }
</style>

<section class="section hero hero-large">
  <div class="hero-inner">
    <h1 class="hero-inner-home-heading">Hi. How can we help you?</h1>
    <div class="hero-inner-search">
      {{search submit=false instant=settings.instant_search class="search search-full" placeholder="Search knowledge base..."}}
    </div>
    <p class="hero-inner-description"><strong><i class="fas fa-book"></i> Guides:</strong> getting started with <a
        href="/hc/en-us/categories/360002131172-Getting-Started">All of the House</a></p>
  </div>
</section>

<div class="container">
  <section class="section knowledge-base">
    <h1 class="home-categories-heading" id="browse-knowledge-base">Browse knowledge base</h1>
    <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
        {{#if ../has_multiple_categories}}
        <li class="blocks-item">
          <a href='{{url}}' class="blocks-item-link">
            {{#is name 'Evoko Room Manager'}}
            <img alt="Evoko Room Manager" src="{{asset 'home-room-manager.png'}}" />
            {{/is}}
            {{#is name 'Evoko Minto'}}
            <img alt="Evoko Minto" src="{{asset 'home-minto.png'}}" />
            {{/is}}
            {{#is name 'Evoko Liso'}}
            <img alt="Evoko Liso" src="{{asset 'home-liso.png'}}" />
            {{/is}}
            {{#is name 'Evoko Groupie'}}
            <img alt="Evoko Groupie" src="{{asset 'home-groupie.png'}}" />
            {{/is}}
            {{#is name 'Evoko Pusco'}}
            <img alt="Evoko Pusco" src="{{asset 'home-pusco.png'}}" />
            {{/is}}
            {{#is name 'General'}}
            <img alt="General" src="{{asset 'home-general.png'}}" />
            {{/is}}
            <h2 class="blocks-item-title">{{name}}</h2>
            <p class="blocks-item-description">{{excerpt description}}</p>
          </a>
        </li>
        {{else}}
        {{#each sections}}
        <li class="blocks-item">
          <a href='{{url}}' class="blocks-item-link">
            <h2 class="blocks-item-title">
              {{name}}
            </h2>
            <p class="blocks-item-description">{{excerpt description}}</p>
          </a>
        </li>
        {{/each}}
        {{/if}}
        {{/each}}
      </ul>
      {{pagination}}
    </section>

    {{!-- {{#if promoted_articles}}
    <section class="articles">
      <h3>{{t 'promoted_articles'}}</h3>
      <ul class="article-list promoted-articles">
        {{#each promoted_articles}}
        <li class="promoted-articles-item">
          <a href="{{url}}">
            {{title}}

            {{#if internal}}
            <span class="icon-lock" title="{{t 'internal'}}"></span>
            {{/if}}
          </a>
        </li>
        {{/each}}
      </ul>
    </section>
    {{/if}}
  </section> --}}

    {{!-- {{#if help_center.community_enabled}}
    <section class="section community">
      <h2>{{t 'community'}}</h2>
      {{#link 'community' class='community-link'}}
      {{t 'join_conversation'}}
      {{/link}}

      <div class="community-image"></div>
    </section>
    {{/if}} --}}

    {{!-- <section class="section activity">
      {{#if settings.show_recent_activity}}
      {{recent_activity}}
      {{/if}}
    </section> --}}
</div>
